.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
}

.box {
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: translateY(-5px);
}

.box-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.box-content {
  font-size: 1rem;
  color: #333;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.tech-stack-list li {
  background-color: #2d2d2d;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s ease;
}

.tech-stack-list li:hover {
  background-color: #444;
}



@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
